body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main {
    height: 100%;
    max-width: 1024px;
    margin: auto;
    padding: 1rem;
}

.name {
    font-size: 2.5rem;
    font-weight: bold;
}

.job {
    font-size: 1.5rem;
    font-weight: bold;
    color: #8B0000;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .5rem;
    padding: .5rem 0;
}

img {
    height: 20px;
}

.flex-center {
    display: flex;
    align-items: center;
    gap: .2rem;
}

.header a {
    text-decoration: none;
}

.title {
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    border-bottom: 3px solid black;
    margin: 1rem 0;
    text-transform: uppercase;
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.content {
    display: grid;
    grid-template-columns: 1fr 17rem;
    gap: 2rem;
}

.job-item {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    padding: .5rem 0;
}

.job-desc {
    font-size: 1.5rem;
}

.company {
    font-size: 1.2rem;
    color: #8B0000;
}
                                                            
@media(max-width: 700px) {
    .content {
        grid-template-columns: 1fr;
    }
}

ul {
    margin: 5px 0;
    padding-left: 2rem;
}